@import url('https://fonts.cdnfonts.com/css/roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: lightgray;
    min-height: 100vh;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #FFF;
    padding: 2rem 1.5rem;
}

nav h1 {
    position: absolute;
    left: 2%;
    letter-spacing: 5px;
    padding: 0.5rem 1rem;
    padding-right: calc(1rem - 5px); /* Since letter-spacing is set to 5px, the last letter of the h1 has extra 5px of padding, this sets it to be equal to everything else */
    border: 3px solid white;
    cursor: pointer;
}

nav h1:hover {
    color: crimson;
}

.menu {
    display: none;
    align-items: center;
    margin: 0 -1rem; /* Equal spacing on the left and the right */
}

.menu a {
    margin: 0 3rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu a:hover {
    color: crimson;
}

.active {
    margin-top: 1px !important;
    border-bottom: 1px solid crimson;
}

.icon {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #FFF;

    position: absolute;
}

.icon:hover {
    color: crimson;
}

/* TODO: fix */
.cart {
    right: 7%;
}

.account {
    right: 4%;
}

.language {
    right: 10%;
}

.burger {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #FFF;
    z-index: 1;

    position: absolute;
    right: 2%;
    display: block;
    width: 2rem;
    height: 2rem;
}

.burger span {
    color: white;
    font-size: 2rem;
}

.mobile-menu {
    position: fixed;
    top: 0; /* This together with position fixed sets it to the top of the page without being able to move */
    right: 0;
    width: 30%;
    border: 1px solid black;

    margin-top: 4rem; /* Brings it beneath the logo */
    opacity: 0;
    transform: translateY(-100%); /* Brings it off screen */
    background-color: black;
    color: #FFF;
    transition: 0.3s;
}

.mobile-active {
    outline: 1px solid crimson;
}

.account-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;

    margin-top: 5.25rem;
    opacity: 0;
    transform: translateY(0%);
    background-color: black;
    color: #FFF;
    transition: 0.3s;
}

.account-menu::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -15px;
    left: 52%;
    margin-left: -10px;
    border-style: solid;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    border-top: 0px;
}

.account-menu a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.account-menu a:hover {
    color: crimson;
}

.mobile-menu.is-open, .account-menu.is-open {
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu a {
    display: block;
    padding: 1rem;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobile-menu a:hover {
    color: crimson;
    background-color: #FFF;
}

@media (min-width: 768px) {
    .mobile-menu, .burger {
        display: none;
    }

    .menu  {
        display: flex;
    }
}

@media (max-width: 768px) {
    .account, .language, .cart {
        display: none;
    }
}

/* Index */

.main {
    width: 100vh;
    height: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}